@import 'tailwindcss';
@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));

@source "../../../libs/data-access/admin-api";
@source "../../../libs/data-access/middleware-service-worker";
@source "../../../libs/data-access/query";
@source "../../../libs/features/edit-state";
@source "../../../libs/features/explainers";
@source "../../../libs/features/health";
@source "../../../libs/features/introspection-route";
@source "../../../libs/features/invocation-route";
@source "../../../libs/features/invocations-route";
@source "../../../libs/features/overview-route";
@source "../../../libs/features/restate-context";
@source "../../../libs/features/service-protocol";
@source "../../../libs/features/state-object-route";
@source "../../../libs/features/state-route";
@source "../../../libs/features/support";
@source "../../../libs/features/version";
@source "../../../libs/ui/api";
@source "../../../libs/ui/badge";
@source "../../../libs/ui/button";
@source "../../../libs/ui/code";
@source "../../../libs/ui/copy";
@source "../../../libs/ui/dialog";
@source "../../../libs/ui/dropdown";
@source "../../../libs/ui/editor";
@source "../../../libs/ui/error";
@source "../../../libs/ui/focus";
@source "../../../libs/ui/form-field";
@source "../../../libs/ui/icons";
@source "../../../libs/ui/layout";
@source "../../../libs/ui/link";
@source "../../../libs/ui/listbox";
@source "../../../libs/ui/loading";
@source "../../../libs/ui/nav";
@source "../../../libs/ui/notification";
@source "../../../libs/ui/popover";
@source "../../../libs/ui/query-builder";
@source "../../../libs/ui/radio-group";
@source "../../../libs/ui/section";
@source "../../../libs/ui/split-button";
@source "../../../libs/ui/table";
@source "../../../libs/ui/tooltip";
@source "../../../libs/util/errors";
@source "../../../libs/util/feature-flag";
@source "../../../libs/util/humantime";
@source "../../../libs/util/intl";
@source "../../../libs/util/react-query";
@source "../../../libs/util/snapshot-time";

@layer base {
  html {
    font-family: InterVariable, 'Helvetica', system-ui, sans-serif;
  }
  body {
    padding-left: calc(100vw - 100%);
  }
}

*[tabindex='0']:not(:has(*)) {
  outline: none;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@theme {
  --default-ring-width: 3px;
  --default-ring-color: var(--color-blue-500);

  --text-3xs: 0.625rem;
  --text-2xs: 0.6875rem;
  --text-code: 0.8125rem;

  --breakpoint-3xl: 1950px;

  --font-sans: InterVariable, sans-serif;
  --font-mono: JetBrainsMonoVariable, monospace;

  @keyframes moveAndGrow {
    0% {
      right: 0px;
    }
    100% {
      right: -23px;
    }
  }
  --animate-moveAndGrow: moveAndGrow 2s ease-in-out infinite;
}

@layer base {
  input::placeholder,
  textarea::placeholder {
    color: var(--color-gray-400);
  }
}
